{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

    <div class="container mt-5">

        <h1 align="center"><strong><b>Add habit</b></strong></h1>
        <br><br>

        <form method="post" class="w-100">

            <div class="input-group mb-3">
                <span class="input-group-text" style="min-width: 150px;">
                    <strong><b>Habit's name</b></strong>
                </span>
                <input name="name" type="text" step="0.1" class="form-control bg-dark text-white">
            </div>
            <div class="input-group mb-4">
                <span class="input-group-text" style="min-width: 150px;">
                    <strong><b>Habit's category</b></strong>
                </span>
                <input name="category" type="text" class="form-control bg-dark text-white">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success w-100 btn-dark"><b><strong>Add</strong></b></button>
            </div>
        </form>
    </div> <br> <br> <br>

{% endblock %}