<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% block style %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for msg in messages %}
    <div class="alert alert-info" role="alert">
        {{ msg }}
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}
</div>

{% block content %} {% endblock %}
</body>
</html>