<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Habits manager</title>
    </head>
    <body>
        <div class='container'>
            <div class='item'><h2><strong><b>Hello {{ user }}!</b></strong></h2></div>

            <div class='item'>
                <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            </div>
        </div>
    </body>
</html>