{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
        <h1><strong><b>Registration</b></strong></h1>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
            <span class="input-group-text">@</span>
            <input name="password"
                   type="password"
                   step="0.1"
                   class="form-control"
                   minlength="6"
                   pattern=".*[A-Za-zА-Яа-яІіЇїЄєҐґ].*"
                   required
                   oninvalid="this.setCustomValidity('Password must contain at least 8 characters long')"
                   oninput="this.setCustomValidity('')">
        </div>

{% endblock %}